Repository fernando-mc/serverless-finch: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

test: more unit tests
  lib/upload.test.js
  lib/validate.test.js
  package-lock.json
  package.json
Due: eslint, prettier --write

refactor: reorganize files
  .nycrc.json
  lib/bucket-utils.js
  lib/configure.js
  lib/get-file-list.js
  lib/plugin.js
  lib/plugin.test.js
  lib/resources/aws-region-urls.json
  lib/resources/cors-policy.json
  lib/upload.js
  lib/validate.js
  package.json
Due: eslint, prettier --write

chore: lint
  .eslintrc.json
  .github/workflows/test.yml
  .lintstagedrc.json
  lib/configure.js
  lib/upload.js
  package-lock.json
  package.json
Due: eslint, prettier --write

feat(remove): delete bucket with keyPrefix as long as it's empty
  lib/bucket-utils.js
  lib/bucket-utils.test.js
  lib/plugin.js
  lib/plugin.test.js
  test/fixtures/disable-manage-resources/client/dist/error.html
  test/fixtures/disable-manage-resources/client/dist/index.html
  test/fixtures/disable-manage-resources/serverless.yml
  test/fixtures/key-prefix/client/dist/error.html
  test/fixtures/key-prefix/client/dist/index.html
  test/fixtures/key-prefix/serverless.yml
Due: eslint, prettier --write

feat(remove): delete bucket with keyPrefix as long as it's empty (#158)
  lib/bucket-utils.js
  lib/bucket-utils.test.js
  lib/plugin.js
  lib/plugin.test.js
  test/fixtures/disable-manage-resources/client/dist/error.html
  test/fixtures/disable-manage-resources/client/dist/index.html
  test/fixtures/disable-manage-resources/serverless.yml
  test/fixtures/key-prefix/client/dist/error.html
  test/fixtures/key-prefix/client/dist/index.html
  test/fixtures/key-prefix/serverless.yml
Due: eslint, prettier --write

feat(cors): custom config file
  README.md
  lib/configure.js
  lib/plugin.js
  lib/plugin.test.js
  lib/resources/cors-policy.json
  lib/resources/cors-rules.json
  lib/validate.js
  lib/validate.test.js
  test/fixtures/custom-cors/client/dist/error.html
  test/fixtures/custom-cors/client/dist/index.html
  test/fixtures/custom-cors/config/cors-rules.json
  test/fixtures/custom-cors/serverless.yml
Due: eslint, prettier --write

feat(cors): custom config file (#160)
  README.md
  lib/configure.js
  lib/plugin.js
  lib/plugin.test.js
  lib/resources/cors-policy.json
  lib/resources/cors-rules.json
  lib/validate.js
  lib/validate.test.js
  test/fixtures/custom-cors/client/dist/error.html
  test/fixtures/custom-cors/client/dist/index.html
  test/fixtures/custom-cors/config/cors-rules.json
  test/fixtures/custom-cors/serverless.yml
Due: eslint, prettier --write

fix(log): don't log undefined string
  lib/plugin.js
Due: eslint, prettier --write

chore: use github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  docs/ISSUE_TEMPLATE.md
  docs/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs: standardize
  CONTRIBUTING.md
  README.md
  docs/CONTRIBUTING.md
Due: prettier --write

chore: re-added release notes of v2.6.0 and below
  README.md
Due: prettier --write

docs: standardize (#163)
  CONTRIBUTING.md
  README.md
  docs/CONTRIBUTING.md
Due: prettier --write

Notes added by 'git notes add'
  cec06dfb21f34ffe03dfcf4f726f88a0a209fb9c
Due: none

docs: improve docs & tests for `uploadOrder` option
  README.md
  lib/upload.test.js
Due: eslint, prettier --write

docs: improve docs & tests for `uploadOrder` option (#169)
  README.md
  lib/upload.test.js
Due: eslint, prettier --write

fix(bucket-utils): bucket creation now removes the public access block applied by S3
  lib/bucket-utils.js
  lib/plugin.test.js
Due: eslint, prettier --write

fix(bucket-utils): bucket creation now removes the public access block applied by S3 (#184)
  lib/bucket-utils.js
  lib/plugin.test.js
Due: eslint, prettier --write

chore(examples): upgrade frameworkVersion to 2 or 3
  examples/SPA/serverless.yml
  examples/bare-bones/serverless.yml
Due: none

docs(examples): upgrade frameworkVersion to 2 or 3 (#171)
  examples/SPA/serverless.yml
  examples/bare-bones/serverless.yml
Due: none

fix: backwards compatibility with serverless < 3
  lib/plugin.js
Due: eslint, prettier --write

fix: backwards compatibility with serverless < 3 (#170)
  lib/plugin.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  c8c69534deff8a4452c0594acca728be64d97771
Due: none

fix(bucket-utils): small fix for async race condition
  lib/bucket-utils.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  964f0b303d0172521e9568f42976f0cb06b06f89
Due: none

fix: check for undefined options when validating
  lib/validate.js
  lib/validate.test.js
Due: eslint, prettier --write

Notes added by 'git notes add'
  4ab6e60a1f8e4943f878a6fae69c727285e07ff5
Due: none

fix: remove vulnerable dependency
  lib/validate.js
  package-lock.json
  package.json
Due: eslint, prettier --write

test(validate): improve coverage
  lib/validate.test.js
Due: eslint, prettier --write

fix: remove vulnerable dependency (#191)
  lib/validate.js
  lib/validate.test.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Notes added by 'git notes add'
  8cbf0eff55ebec1aeabb4d08b9e205abc00b4b51
Due: none

Path conditions:
  eslint: any of: **/*.js
  prettier --write: any of: **/*.{md,js,json}
